<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Home Harbor</title>

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Home <div style="line-height: 6 0%;">Harbor</div></a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/beauty">Beauty</a>
          <a class="nav-link" href="/house">Homes</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- ############################    Main body part #################### -->


  <main>
    <h1>Beauty <span>services</span></h1>
    <div class="collecter">
      <div>
        <div>
          <img src="/icon/images.jpg" alt="">
        </div>

        <div><a href="/women_salon">Book service</a></div>
      </div>
      <div>
        <img src="hair_studio.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>
    </div>

    <div class="collecter">

      <div>
        <img src="makeup&styling.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>

      <div>
        <img src="/icon/massageformen.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>

      <div>
        <img src="/icon/women_spa.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>

    </div>

    <div class="collecter">

      <div>
        <img src="/icon/kids&men.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>

      <div>
        <img src="laser_hair.jpg" alt="">
        <div><a href="/women_salon">Book service</a></div>
      </div>

    </div>

  </main>

  <!--             ###############################################           -->


  <footer>
    <div class="footer">
        <div class="footerText">
            <h2>About us</h2>
            <p>Home Harbor is a technology <br> platform that offers a variety of<br>
                services at home, including
                <br>beauty
                treatments, cleaning,<br> plumbing, carpentry, and more.
            </p>


        </div>
        <div class="footerText">
            <h2>For customers</h2>
            <p> <a href="">Home Harbor reviews</a> </p>
            <p><a href="">Blog</a></p>
            <p><a href="">Categories</a></p>


        </div>
        <div class="footerText">
            <h2>Contact US</h2>
            <p class="email">myselfgovind116@gmail.com</p>
            <p class="tel">8102558417</p>


        </div>
        <div class="footerText">
            <h2>For Parteners</h2>
            <p>Register as professional</p>
        </div>
    </div>
</footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>