body {
    margin: 0%;
    padding: 0%;
    background-color: #fdf8f8;
}
h1{
  
    margin-left: 4%;
    margin-bottom: 20px;
}
main{
    display: flex;
    justify-content: space-around;
    
}
main .column {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction:column;
    /* margin-left: 6%;  */
}
.inline_images {
    display: inline-block;
    margin: 20px;
}
.column .inner_column_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.inline_images img {
    width: 110px;
    height: 110px;
}

#left_column {
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid orange; 
    padding: 10px; 
}
.right_column {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 10px; 
}

.right_column div {
    display: flex;
    flex-wrap: wrap;
}
.block_images{
  padding: 9px;
}
.l1 img{
    
    height: 270px;
}
.m1 img{
    position: relative;
    bottom: 23%;
}
.double_image_div img{
    width: 180px;
}
a:hover{
    border-radius: 1px solid black;
    color:black;
}

.slider-container {
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  .work_section{
    
    margin: 4%;
   
  }
  .item{
    text-align: center;
    
    padding: 5%;
  }
  nav{
    position: sticky;
}
.work_section .inner_div {
    display: flex;
    text-align: center;
    
}
.inner_div .left{
    margin-left: 40px;
}
  @media screen and (max-width: 768px) {
    .slide {
      width: 33.33%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .slide {
      width: 50%;
    }
  }
  