<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Harbor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>



<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home <div style="line-height: 6 0%;">Harbor</div></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/beauty">Beauty</a>
          <a class="nav-link" href="/house">Homes</a>

          



        </div>
      </div>
    </div>
  </nav>
  <h1>Home <span>services</span></h1>
  <div class="container text-center">
    <div class="row row1">
      <div class="col-md-8 block_it">
        <div>Wall decor</div>
        <img src="/icon/wall_decor.png" alt="hello">
        <div><a href="/wall">Book service</a></div>
      </div>
      <div class="col-md-4 block_it">
        <div>Painting & waterproofing</div>
        <img src="/icon/painting&water_profofing.jpeg" alt="">
        <div><a href="/wall">Book service</a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 block_it">
        <div>Home cleaning</div>
        <img src="/icon/cleaning.png" alt="">
        <div><a href="/cleaning">Book service</a></div>
      </div>
      <div class="col-md-4 block_it">
        <div>Ac repair</div>
        <img src="/icon/ac_repair.jpeg" alt="">
        <div><a href="/ac&appliance">Book service</a></div>
      </div>
      <div class="col-md-4 block_it">
        <div>Bathroom cleaning</div>
        <img src="/icon/bathroom_cleaning.png" alt="">
        <div><a href="/cleaning">Book service</a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 block_it">
        <div>Electrician Plumber & Carpenter</div>
        <img src="/icon/elect_plum_carp.jpeg" alt="">
        <div><a href="/epc">Book service</a></div>
      </div>
      <div class="col-md-6 block_it">
        <div>Appliance & Repair</div>
        <img src='\icon\aapliance_repair&service.png' alt="">
        <div><a href="/ac&appliance">Book service</a></div>
      </div>
    </div>
  </div>
  <div>

  </div>
  <footer>
    <div class="footer">
        <div class="footerText">
            <h2>About us</h2>
            <p>Home Harbor is a technology <br> platform that offers a variety of<br>
                services at home, including
                <br>beauty
                treatments, cleaning,<br> plumbing, carpentry, and more.
            </p>


        </div>
        <div class="footerText">
            <h2>For customers</h2>
            <p> <a href="">Home Harbor reviews</a> </p>
            <p><a href="">Blog</a></p>
            <p><a href="">Categories</a></p>


        </div>
        <div class="footerText">
            <h2>Contact US</h2>
            <p class="email">myselfgovind116@gmail.com</p>
            <p class="tel">8102558417</p>


        </div>
        <div class="footerText">
            <h2>For Parteners</h2>
            <p>Register as professional</p>
        </div>
    </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>