<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginsignup.css">
    <title>Home Harbor</title>
</head>

<body>
    <div class="content">
        <div id="form2">

            <section id="one">
                <div>

                    <p>Log in into Home Harbor</p>
                </div>
                <form action="/login" method="post">
                    <input type="text" class="mbn_eml bg_input" name="email_phone" id="email" tabindex="0"
                        placeholder="Email address or phone number" required value="" autofocus="1"
                        autocomplete="username" aria-label="Email address or phone number">

                    <br>
                    <input class="input password bg_input" type="password" name="password" id="password"
                        placeholder="Password"><br>
                    <button class="login">Log in</button>
                    <abbr class="forgot"><a
                            href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0">Forgotten
                            account?</a></abbr>
                </form>
                <span>or</span>
                <a href="/signup">
                    <button class="create">Create new account</button>
                </a>
            </section>





        </div>
    </div>
</body>

</html>